.handorgel {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  border-top: none; }
.handorgel__header {
  display: block;
  margin: 0; }
.handorgel__header--open .handorgel__header__button {
  background-color: #eee; }
.handorgel__header--notransition .handorgel__header__button {
  transition: none; }
.handorgel__header--focus .handorgel__header__button {
  background-color: #dfdfdf;
  outline: none; }
.handorgel__header__button {
  display: block;
  width: 100%;
  padding: 20px 24px;
  border: none;
  border-top: 1px solid #eee;
  margin: 0;
  background-color: #fff;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  text-align: left;
  transition: background-color 0.2s ease;
  user-select: none; }
  .handorgel__header__button::-moz-focus-inner {
    border: 0; }
.handorgel__content {
  display: none;
  overflow: hidden;
  height: 0;
  border-top: 1px solid #eee;
  background-color: #fff;
  transition: height 0.1s ease 0.1s; }
  .handorgel__content--open {
    display: block;
    transition: height 0.2s ease; }
  .handorgel__content--opened {
    overflow: visible; }
  .handorgel__content--notransition {
    transition: none; }
.handorgel__content__inner {
  padding: 20px 24px;
  opacity: 0;
  transition: opacity 0.1s ease; }
.handorgel__content--opened .handorgel__content__inner {
  opacity: 1;
  transition: opacity 0.3s ease; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  margin: 80px 60px;
  background-color: #202328;
  color: #dadada;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  text-size-adjust: 100%; }
  @media (max-width: 600px) {
    body {
      margin: 80px 40px; } }

a {
  color: #dadada; }

p {
  margin-top: 0;
  margin-bottom: 15px; }
  p:last-child {
    margin-bottom: 0; }

.description {
  margin-bottom: 60px;
  text-align: center; }

.wrapper {
  width: 80%;
  max-width: 700px;
  margin: 0 auto; }
  @media (max-width: 600px) {
    .wrapper {
      width: 100%; } }

.wrapper .example {
  margin-bottom: 30px; }

.usage {
  margin-top: 80px; }

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
  text-align: center; }

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 28px; }

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px; }

pre {
  margin: 0;
  margin-bottom: 30px; }

.handorgel {
  margin-bottom: 80px;
  color: #333; }
