*, *:after, *:before {
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  margin: 60px;
  font-size: 1rem;
  line-height: 1.4;
  background-color: white;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

p {
  margin-top: 0;
  margin-bottom: 15px; }

p:last-child {
    margin-bottom: 0; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.wrapper > .inner {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  margin-bottom: 30px; }

.handorgel {
  display: block;
  width: 100%;
  border: 2px solid #eee; }

.handorgel__header {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  border-top: 2px solid #eee;
  border-bottom: 0px solid #eee;
  -webkit-transition: border-bottom-width 0s ease 0.2s;
  transition: border-bottom-width 0s ease 0.2s; }

.handorgel__header--open {
    border-bottom-width: 2px;
    -webkit-transition: border-bottom-width 0s ease;
    transition: border-bottom-width 0s ease; }

.handorgel__header--notransition {
    -webkit-transition: none;
    transition: none; }

.handorgel__header:first-child {
    border-top: none; }

.handorgel__header--open .handorgel__header__button {
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in; }

.handorgel__header--notransition .handorgel__header__button {
  -webkit-transition: none;
  transition: none; }

.handorgel__header__button {
  cursor: pointer;
  display: block;
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 20px 24px;
  font-size: inherit;
  text-align: left;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in; }

.handorgel__header__button:focus {
    outline: none;
    background-color: #eee; }

.handorgel__header__button::-moz-focus-inner {
    border: 0; }

.handorgel__content {
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.1s ease, height 0.1s ease 0.1s;
  transition: opacity 0.1s ease, height 0.1s ease 0.1s; }

.handorgel__content--open {
    opacity: 1;
    -webkit-transition: height 0.2s ease, opacity 0.3s ease 0.1s;
    transition: height 0.2s ease, opacity 0.3s ease 0.1s; }

.handorgel__content--opened {
    overflow: visible; }

.handorgel__content--notransition {
    -webkit-transition: none;
    transition: none; }

.handorgel__content__inner {
    padding: 20px 24px; }

@media (max-width: 600px) {

  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .wrapper > .inner {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; } }

/*# sourceMappingURL=demo.css.map */