@import '../src/scss/style';

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 80px 60px;
  font-size: 16px;
  line-height: 1.4;
  color: #dadada;
  background-color: #202328;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media (max-width: 600px) {
    margin: 80px 40px;
  }
}

a {
  color: #dadada;
}

p {
  margin-top: 0;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.description {
  margin-bottom: 60px;
  text-align: center;
}

.wrapper {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.wrapper .example {
  margin-bottom: 30px;
}

.usage {
  margin-top: 80px;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
}

h2 {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

pre {
  margin: 0;
  margin-bottom: 30px;
}

.handorgel {
  color: #333;
  margin-bottom: 80px;
}
