.handorgel {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  border-top: none;
}

.handorgel__header {
  display: block;
  margin: 0;
}

.handorgel__header--open .handorgel__header__button {
  background-color: #eee;
}

.handorgel__header--focus .handorgel__header__button {
  background-color: #dfdfdf;
  outline: none;
}

.handorgel__header__button {
  display: block;
  width: 100%;
  padding: 20px 24px;
  margin: 0;
  border: none;
  border-top: 1px solid #eee;
  background-color: #fff;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  text-align: left;
  transition: background-color 0.2s ease;
  user-select: none;
}

.handorgel__header__button::-moz-focus-inner {
  border: 0;
}

.handorgel__content {
  display: none;
  overflow: hidden;
  height: 0;
  border-top: 1px solid #eee;
  background-color: #fff;
  transition: height 0.1s ease 0.1s;
}

.handorgel__content--open {
  display: block;
  transition: height 0.2s ease;
}

.handorgel__content--opened {
  overflow: visible;
}

.handorgel__content .handorgel__content__inner {
  padding: 20px 24px;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.handorgel__content[aria-hidden="false"] .handorgel__content__inner {
  opacity: 1;
}
